# Backend Configuration
PORT=3000
DATABASE_URL=postgresql://user:password@localhost:5432/securemax
JWT_SECRET=super_secret_jwt_key

# Blockchain Configuration
RPC_URL=http://127.0.0.1:8545
CONTRACT_ADDRESS_DID=
CONTRACT_ADDRESS_RBAC=
CONTRACT_ADDRESS_NFT=

# Frontend Configuration
REACT_APP_API_URL=http://localhost:3000
REACT_APP_RPC_URL=http://127.0.0.1:8545
